{% extends 'layout.html' %}

{% block content %}
{% if collection %}
<div class="toolbar">
  <label>总共（{{ cnt }}）</label>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        {% for kv in kvs %}
        <th><a href="/view/{{ active|lower }}/?s={% if kv.k == s %}-{{ kv.k }}{% else %}{{ kv.k }}{% endif %}">{{ kv.v }}</a></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for coll in collection %}
      <tr>
        <td class="btn-group">
          <a class="btn btn-default btn-xs" href="/view/{{ active|lower }}/{{ coll.id }}/?u={{ ('/view/' + active + '/')|lower|url_encode }}"><i class="glyphicon glyphicon-pencil"></i></a>
          <button class="btn btn-default btn-xs remove-one" data-id="{{ coll.id }}"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
        {% for kv in kvs %}
        <td>{% if kv.k == 'id' %}<a href="/view/{{ active|lower }}/{{ coll[kv.k] }}/?u={{ ('/view/' + active + '/')|lower|url_encode }}">{{ coll[kv.k]|default('') }}</a>{% elseif config.schema[kv.k].type == Boolean %}{% if coll[kv.k] %}<i class="glyphicon glyphicon-ok"></i>{% endif %}{% else %}{{ coll[kv.k]|default('') }}{% endif %}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
</table>
{% if n.length > 1 %}
<ul class="pagination">
  {% if n.length > 5 %}
  {% if p == 0 %}
  <li class="disabled"><span>&laquo;</span></li>
  <li class="disabled"><span>&lt;</span></li>
  {% else %}
  <li><a href="/view/{{ active|lower }}/">&laquo;</a></li>
  <li><a href="/view/{{ active|lower }}/?p={{ p - 1 }}">&lt;</a></li>
  {% endif %}
 
  {% endif %}

  {% for i in n %}
  <li{% if i == p %} class="active"{% endif %}><a href="/view/{{ active|lower }}/?p={{ i }}">{{ i + 1 }}</a></li>
  {% endfor %}

  {% if n.length > 5 %}
  {% if p == n.length - 1 %}
  <li class="disabled"><span>&gt;</span></li>
  <li class="disabled"><span>&raquo;</span></li>
  {% else %}
  <li><a href="/view/{{ active|lower }}/?p={{ parseInt(p) + 1 }}">&gt;</a></li>
  <li><a href="/view/{{ active|lower }}/?p={{ n.length - 1 }}">&raquo;</a></li>
  {% endif %}
 
  {% endif %}
</ul>
{% endif %}
</div>

{% elseif doc %}
<div class="form-edit">
  <form class="form-horizontal" id="editForm" role="form">
    {% for kv in kvs %}
    {% if kv.k != 'id' %}
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ kv.v }}</label>
      <div class="col-sm-10">
        {% if config.schema[kv.k].type[0] %}
        {% for v in doc[kv.k]|default([]) %}
        <input{% if config.schema[kv.k].type == Boolean %} type="checkbox"{% if doc[kv.k] %} checked="checked"{% endif %}{% else %} type="text" value="{{ v|default('') }}"{% endif %} class="form-control" name="{{ kv.k }}">
        {% endfor %}
        {% else %}
        <input{% if config.schema[kv.k].type == Boolean %} type="checkbox"{% if doc[kv.k] %} checked="checked"{% endif %}{% else %} type="text"{% endif %} class="form-control" value="{{ doc[kv.k]|default('') }}" name="{{ kv.k }}">
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <input type="submit" id="editOne" class="btn btn-primary" value="Submit">
        <a href="{{ u|default('/view/' + active|lower + '/') }}" class="btn btn-info">Cancel</a>
        <button id="delOne" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </form>
</div>
{% endif %}
{% endblock %}